// Variable overrides
$body-bg: #e8f4f8;
$body-color: #111;
$sidebar-width: 240px;
$sidebar-dark-nav-dropdown-bg: #fff;
$sidebar-dark-nav-dropdown-color: #000;
$sidebar-dark-nav-dropdown-indicator-color:#222;
$sidebar-backdrop-bg: #000;
$sidebar-backdrop-opacity: .0;
// $sidebar-dark-color:    #017DC3;
$sidebar-dark-bg: #1E4E82;
$sidebar-light-color: #fff;
$sidebar-light-bg: #fff;
$sidebar-dark-brand-color: #fff;
$sidebar-dark-brand-color: #fff;
$sidebar-dark-brand-bg: #1E4E82;
$sidebar-dark-minimizer-indicator-color: #fff;
$sidebar-dark-minimizer-hover-indicator-color: #fff;
$sidebar-dark-minimizer-hover-bg: #e67817;
$sidebar-dark-minimizer-bg:#1E4E82;
$sidebar-dark-nav-title-color: #020202;
$sidebar-dark-nav-link-color: #fff;
$sidebar-dark-nav-link-icon-color: #fff;
$sidebar-light-nav-title-color: #fff;
$sidebar-light-nav-link-color: #fff;
$sidebar-light-nav-link-bg: #ffff;
$sidebar-light-nav-link-icon-color: #fff;
$sidebar-light-nav-link-active-color: #1E4E82;
$sidebar-dark-nav-link-hover-color: #ffff;
$sidebar-dark-nav-link-hover-bg: #e67817;
$sidebar-dark-nav-link-hover-icon-color: #fff;
$sidebar-dark-nav-link-active-color: #e67817;
$sidebar-dark-nav-link-active-bg: #fff;
$sidebar-dark-nav-link-active-icon-color: #e67817;
$header-dark-bg: #017DC3;
$header-light-bg: #fff;
$header-light-color: #1E4E82;